.App {
  text-align: center;
  margin:auto;
  padding-left: 5%;
  padding-right: 5%;
  min-width: 80vw;
  background: rgb(236, 236, 231);
 
}

 /* background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5) */
