.artContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.newsArtkill{
    overflow: hidden;
    box-shadow: .6rem .7rem .4rem rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.newsArtkill img{
    max-width: 100%;
    object-fit: cover;
}
 
.newsArtkill p, h2,h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  