.newsArtkill{
    display: flex;
    flex-direction: column;
    width: clamp(26rem, calc(22rem + 3vw), 26rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 3em;
    background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.artContainer{


}

.newsArtkill img{
    max-width: 100%;
    display: block;
    object-fit: cover;

}
 
.newsArtkill p, h2,h4{
    display:block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    display: grid;
    place-items:center;
}
  