.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    margin: 2rem;
    gap: 10rem;
    width: 100%;
}

.main img{
    max-width: 160px;
    max-height: 160px;
}

.columnLeft{
    display: flex;
    flex-direction: column;

    width: 40%;
}

.columnLeft span{
    text-align: left;
}

.columnRight{
    display: flex;
    flex-direction: column;

    width: 60%;
}

.contact-section{
    margin: 0;
    padding: 0;
    width: 100%;
}

.contact{
    display: grid;
    padding: .5rem;
    grid-template-columns: 1fr 1fr;
    border: solid RGB(96, 164, 250);
}

.comments{
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.commentLeft img{
    max-width: 95px;
    max-height: 95px;
}

.commentLeft{
    background-color: RGB(249, 197, 108);
    width: 50%;
    padding: 1rem;
    padding-top: 0;
}

.commentLeft p{
    color: blue;
}

.commentLeft img{
    width: 90px;
    max-width: 100%;
    max-height: 200px;
}

.commentRight{
    display:flex;
    background-color: RGB(252, 218, 182);
    width: 100%;
    justify-content: center;
    align-items: center;
}

.comments-section{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.friendsList{
    display: block;
    width: 100%;
}

.friendsList img{
    max-width: 95px;
    max-height: 95px;
    margin-bottom: 1rem;
}

.friend{
    width: 105px;
    display: inline-block;
}

.friend p{
    margin-left: 1.4rem;
}